html, body {
    margin: 10px;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.mainContainer {
    width: 100%;
    margin: 0 auto;
}

.controlPanel {
    float: left;
    width: 20%;
}

.mapPanel {
    float: left;
    width: 60%;
    text-align: center;
}


.controlContainer {
    border: 1px solid navy;
    width: 100%;
    margin-bottom: 10px;
}

.logo {
    background-color: navy;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    border-bottom: 1px solid navy;
    margin: 10px;
}

.controlHeader {
    background-color: navy;
    /*float: left;*/
    /*width: 100%;*/
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    border-bottom: 1px solid navy;
    margin: 10px;
}

.controlLabel {
    margin-left: 10px;
    margin-right: 10px;
    /*float: left;*/
    /*width: 40%;*/
}

.controlValue {
    margin-left: 10px;
    margin-right: 10px;
    /*float: left;*/
    font-weight: bold;
}